{{extend 'layout.html'}}
<h1>Import Observed Metrics From CSV</h1>

The csv must contain a header line.
When importing, MCA looks for the field names in the CSV header.
Example : <p/>
<pre>
f_name,f_device,f_fragment,f_value
latency,d3,f3,95.123
</prep>

{{=FORM(INPUT(_type='file',_name='csvfile'),
        INPUT(_type='hidden',_value='t_observed_metric',_name='table'),
        INPUT(_type='submit',_value='Upload'))}}
