{{extend 'layout.html'}}
<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="row h-100">
  <div class="row h-100 justify-content-center align-items-center">
       
    
    <div class="row h-100 justify-content-center align-items-center">        
        <h2>Welcome to the Mobile Context Analyzer Management Interface !</h2>
        <p class="lead">
        An application for the context-aware estimation of mobile fragment QoS metrics.
        </p>
        <br/><br/>
    </div>

    <div class="row h-100 justify-content-center align-items-center">
Database contains {{=obsm}} Observed Metrics , {{=infm}} Inferred Metrics, {{=obsfrags}} Distinct Fragment IDs and {{=obsdevs}} Distinct Device IDs.
    </div>
    
  
  </div>
</div>

<!--
<div class="card-deck mb-3 text-center">

<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    {{=A('Import', _href=URL('import_data'), _class="btn btn-primary")}}  
  </div>
</div>

<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    {{=A('Execute SVD', callback=URL('exec_svd'), target='d_exec_svd', _class="btn btn-primary")}}
    
    {{=A('Search Optimum SVD Hyperparameters', callback=URL('opt_svd'), target='d_opt_svd', _class="btn btn-primary")}}
    
    {{=A('Perform CrossValidation', callback=URL('crossval'), target='d_crossval', _class="btn btn-primary")}}
    
  </div>
</div>      

<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    {{=A('Export', callback=URL('export'), target='d_export', _class="btn btn-primary")}}
  </div>
</div>      
    
    
</div>    

<div id="d_import"><div>
    
<div id="d_export"><div>
-->
