{{extend 'layout.html'}}

<h2>Manage Inferred Metrics</h2>

Actions : 
{{=A('Truncate', callback=URL('inferred_metrics_truncate'), 
             target='result', 
            _class="btn btn-primary")}}
<div id="result"><div>
    
<p>{{=form}}</p>
