{{extend 'layout.html'}}

<h2>Manage Observed Metrics</h2>

Actions : 
{{=A('Truncate', callback=URL('observed_metrics_truncate'), 
             target='result', 
            _class="btn btn-primary")}}

{{=A('Generate Test Data', _href=URL('simulator','gen_observed_metrics'), _class="btn btn-primary")}} 

{{=A('Import from File', _href=URL('import_data'), _class="btn btn-primary")}} 

<div id="result"><div>

<p>{{=form}}</p>
