{{extend 'layout.html'}}

<h2>Process Data</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Define SVD Hyperparameters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Use Stored SVD Hyperparameters</a>
  </li>  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <p>
          &nbsp;
      </p>
      <p>
          Please define SVD HyperParameters :
      </p>
      {{=form}}
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <p>
          &nbsp;
      </p>
      <p>
        Please choose a stored set of SVD HyperParameters :
      </p>      
      {{=grid}}
  </div>  
</div>
