{{extend 'layout.html'}}
<h2>SVD Execution Result</h2>



<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">SVD Execution for Metric {{=svd_results["metric_name"]}} was successfully completed !</h4>
  <p><pre>
Number of devices : {{=len(svd_results["devices"])}}
Number of fragments : {{=len(svd_results["fragments"])}}
Number of SVD epochs : {{=svd_results["n_epochs"]}}
Number of SVD factors : {{=svd_results["n_factors"]}}
</pre></p>
  <hr>
  <p class="mb-0">Processing duration : {{=svd_results["duration"]}}s</p>
</div>
