{{extend 'layout.html'}}
<h2>
    Automatic SVD Tuning
</h2>
<br/>
<p class="card-text">Search optimum SVD hyperparameters with crossvalidation</p>
{{=form}}

<!-- alternative layout
<div class="row">    
    <div class="col-md-1 order-md-1">          
    </div>
    <div class="col-md-8 order-md-2">
        <div class="card">
            <div class="card-header">
                SVD Hyperparameter Search
            </div>
            <div class="card-body">
                <h5 class="card-title">Singular value decomposition</h5>
                <p class="card-text">Search optimum SVD hyperparameters with crossvalidation</p>                
                {{=form}}
            </div>
        </div>
    </div>
</div>
-->
