{{extend 'layout.html'}}
<h2>Mobile Context Analyzer API</h2>

{{def operation(name,params,example):}}
<div class="row">    
    <div class="col-md-1 order-md-1">          
    </div>
    <div class="col-md-8 order-md-2">
        <div class="card">
            <div class="card-header">Operation : {{=name}}
            </div>
             <div class="card-body">                          
             Parameters:
                 <ul>
                     {{for p in params:}}
                     <li>{{=p[0]}} (default : {{=p[1]}})</li>
                     {{pass}}
                 </ul>
             <p>
                Example : 
             </p>
             <code>{{=example}}</code>   
            </div>
        </div>
    </div>
</div>
{{return BR()}}



{{=operation("executeSVD",[
    ("metric_name",None),
    ("n_factors","2"),
    ("n_epochs","20"),
    ("reg_all","0.002"),
],
"curl --user admin@presto.eu:admin http://127.0.0.1:8000/MCAMANAGER/services/call/json/executeSVD?metric_name=latency")}}

{{=operation("addObsMetricValue",[
    ("metric_name",None),
    ("device_id",None),
    ("fragment_id",None),    
],
"curl --user admin@presto.eu:admin http://127.0.0.1:8000/MCAMANAGER/services/call/json/addObsMetricValue?metric_name=latency")}}
