{{extend 'layout.html'}}
<h2>Visualization of input and output data for metric '{{=metric_name}}'</h2>

<div class="container">
<div class="row">
    <div class="col-sm text-center">
        <figure class="figure">
   {{=A(IMG(_src=URL('visualization', 'obs_heatmap.png'), _alt="Heatmap",_class="figure-img img-fluid rounded"),_href=URL('default', 'index'))}}   
  <figcaption class="figure-caption text-center">Graph 1. "{{=metric_name}} observed values."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</figcaption>
</figure>
        
    </div>
</div>

<div class="row">
    <div class="col-sm text-center">
<figure class="figure">
   {{=A(IMG(_src=URL('visualization', 'inf_heatmap.png'), _alt="Heatmap",_class="figure-img img-fluid rounded"),_href=URL('default', 'index'))}}   
  <figcaption class="figure-caption text-center">Graph 2. "{{=metric_name}} inferred values."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</figcaption>
</figure>
    </div>
</div>

</div>
